MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=admin12345
MINIO_ENDPOINT=http://localhost:9000
S3_REGION=us-east-1
S3_BUCKET_BRONZE=bronze
S3_BUCKET_SILVER=silver
S3_BUCKET_GOLD=gold

SUPERSET_ADMIN_USER=admin
SUPERSET_ADMIN_PWD=supersecret
SUPERSET_ADMIN_FIRST=Admin
SUPERSET_ADMIN_LAST=User
SUPERSET_ADMIN_EMAIL=admin@example.com

POSTGRES_USER=superset
POSTGRES_PASSWORD=superset
POSTGRES_DB=superset

DUCKDB_FILE=/app/data/warehouse.duckdb